
<div class="toolbar" role="banner">
  <div class="logo">
    <a href="https://www.xbav.de/">
      <img src="../assets/images/logo.png" alt="Xbav Logo" class="logo-img"/>
    </a>
  </div>
  <ul class="menu">
    <li class="menu-item">
      <a routerLink="">List</a>
    </li>
    <li class="menu-item">
      <a routerLink="event/add">Event</a>
    </li>
  </ul>    
  <div class="block">
    <span class="burger-icon" (click)="openNav()">
      <img src="../assets/images/burger.svg"/>
    </span>
  </div>
</div>

<div class="sidenav" #siedeNav>
  <a href="#" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="" (click)="closeNav()">List</a>
  <a routerLink="event/add" (click)="closeNav()">Event</a>
</div>

<div class="content" >
  <router-outlet></router-outlet>
</div>




